@model RnD.ExceptionSample.ViewModels.ProductViewModel
<div id="editProductForm">
    <fieldset>
        <legend>Product:</legend>
        @Html.ValidationSummary(true)
        <div id="editProductMess" class="error invisible">
        </div>
        @Html.HiddenFor(model => model.ProductId)
        <div class="editor-field">
            <strong>@Html.LabelFor(model => model.Name): </strong>
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="editor-field">
            <strong>@Html.LabelFor(model => model.Price): </strong>
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>
        <div class="editor-field">
            <strong>@Html.LabelFor(model => model.CategoryId, "Category"): </strong>
            @Html.DropDownList("CategoryId", Model.ddlCategories)
            @Html.ValidationMessageFor(model => model.CategoryId)
        </div>
        <div class="editor-field">
            <button id="proEdit" class="button">
                Update
            </button>
        </div>
    </fieldset>
</div>
<script src="@Url.Content("~/Scripts/App/product-jq.js")" type="text/javascript"></script>
